.posts-expand .post-tags {
  margin-top: 40px;
  text-align: left;

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    background: #f1f1f1;
    border: #f1f1f1;
    padding: 0 10px;
  }
}
